<div class="chat-body">
	<div class="message">
		<header>Arthur:</header>
		<p>this is a test message</p>
		<footer>16:00</footer>
	</div>

	<div class="message">
		<header>???:</header>
		<p>Hello World</p>
		<footer>16:02</footer>
	</div>

</div>


<div class="chat-input"></div>